<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971772873333-b0049r5ielm5hf91h23n56ttbnfn4fs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971772873333-b0049r5ielm5hf91h23n56ttbnfn4fs0</string>
	<key>API_KEY</key>
	<string>AIzaSyDmrYn-3fCQmLR93RLhP-ss9KT9BFADVmw</string>
	<key>GCM_SENDER_ID</key>
	<string>971772873333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>auto.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d0e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d0e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:971772873333:ios:26318270e36b1f2808863c</string>
</dict>
</plist>
